<!-- Category title and Search -->
<div class="page-title">
  <h1>{{ category?.replace("_", " ") | uppercase }}</h1>
  <div class="error" *ngIf="error">
    {{ error }}
  </div>
  <input 
    type="text" 
    [(ngModel)]="query" 
    (input)="searchRaw(query)" 
    placeholder="search"
  >
</div>

<!-- Content -->
<app-display-movies *ngIf="!error" [data]="movies"></app-display-movies>

<!-- Pagination -->
<div class="pag">
  <ngb-pagination
    [collectionSize]="totalResults"
    [page]="page"
    [maxSize]="5"
    [pageSize]="20"
    [boundaryLinks]="true"
    (pageChange)="getMovies($event)"
    [ellipses]="true"
  ></ngb-pagination>
</div>
